<launch>
	<!-- 读取机器人类型参数 -->
	<arg name="robot_type" default="r20_akm" doc="robot type [r10_mec, r10_fwd, r10_akm, r10_twd, r10_omni, r20_mec, r20_akm, r20_fwd]" />

    <!-- 加载机器人URDF模型文件 -->
    <param name="robot_description" textfile="$(find xtark_description)/urdf/xtark_$(arg robot_type).urdf" />

    <!-- 添加关节状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <!-- 添加机器人状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

</launch>