<launch>

    <!-- 多点位循环导航，手工设置点位，模拟送餐机器人动作 -->
    <node pkg="xtark_nav" type="xtark_loop.py" name="xtark_loop" respawn="false" output="screen">

        <!-- 地图坐标  -->
        <param name="map_frame" value="map" />

        <!-- 循环次数  -->
        <param name="loop_num"  value="3" />

        <!-- 设置循环点, 可自由添加多个点位  -->
        <param name="point"  value="  0.693, -1.321,  0.701, -0.713,
                                      1.373, -3.595,  0.999, -0.041,
                                     -0.148, -3.318,  0.074, -0.997  " />
    
    </node>

</launch>
